


.playlist-header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;


}




.playlist-title {
  flex-basis: calc(100% - 120px);
  text-align: center;

}

/* refers to div in PlaylistThumbnail.js  */
.playlist-tumbnail {

  padding: 10px;
  height: 120px;
  width: 120px;

}
.playlist-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}







.table-container {
  height: 100%;
  padding-top: 10px;
  display: block;
}


.table-row {
  width: 100%;
  padding: 15px 0;
  flex-basis: ;
  display: inline-flex;
  font-size: 17px;
}

.table-hr-light {
  width: 100%;
  color: #f0ecec;
  margin: 0 auto;
}



/*
.playlist-table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  width: 100%;
  text-align: left;
}
.playlist-table td, .playlist-table th {
  border: none;
  padding: 10px 4px;
  color: black;
  border-collapse: collapse;

}
.playlist-table tbody td {
  font-size: 13px;
}
.playlist-table thead {
  border-bottom: 1px solid #ccccff;
  text-align: center;

}
.playlist-table thead th {
  font-size: 15px;
  font-weight: normal;
  color: #000000;

}
*/