 /* The side navigation menu */
.playlist-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Foreground and background elements */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffff; 
  overflow-x: hidden; /* Disable horizontal scroll 
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.playlist-menu a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.playlist-menu span{
  padding: 12px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.playlist-menu .menutitle{
  padding: 8px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 10px; 
  right: 0;
  border-bottom: 1px solid #e0e0eb;
}



/* When you mouse over the navigation links, change their color */
.playlist-menu a:hover,span:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.playlist-menu .closebtn {
  position: absolute;
  margin-top: 4px;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
  margin-right: 8px;

}

 /*Style page content - use this if you want to push the page content to the right when you open the side navigation 
#main {
  transition: margin-left .5s;
  padding: 20px;
}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.playlist-menu {padding-top: 15px;}
	.playlist-menua {font-size: 18px;}
} 
